html, body {
    font-family: "Raleway", serif;
    font-size: 16px;
    background-color: whitesmoke;
    margin: 0%;
    }
    @media only screen and (max-width: 375px) and (max-width: 425px) {    
        html, body {
            width: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            align-items: center;
        }
    }

header {
    background-color: #41462d;
    background-repeat: no-repeat; 
}

@media only screen and (max-width: 375px) and (max-width: 425px) {
    .header {
        display: inline-flex;
        align-content: stretch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header {
    display:inline-flex;
    width: 100%;
    justify-content: space-between;  
    justify-items: center;
}

.contactslogo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0.8;
}

.logoconteiner {
    padding-top: 15px;
    padding-right: 20px;
}

.logocontacts {
    padding-left: 10px;;
}



.parts {
    background-image: url(https://i.imgur.com/v8WdWVU.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 350px;
    align-self: center;
    margin-top: 40px;
}
@media only screen and (max-width: 375px) and (max-width: 425px) {
    .parts {
    display: flex;
    background-image: none;
    
    }
}

@media only screen and (max-width: 375px) and (max-width: 425px){
    .parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.mission {
    background-color: #41462d;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(214, 212, 209);
    width: 98%;
    height: 170px;
    opacity: 1;
    font-family: "Raleway", serif;
    font-size: 20px;
    border: 4px solid  rgb(226, 171, 51) ;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
}



@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.mission {
        display: grid;
        align-self: center;
        width: 95%;
        
    }
 }
 @media only screen and (max-width: 375px) and (max-width: 425px) {
    .mission {
     height: 250px;
     }
  }
.vision {
    background-color: #41462d;
    margin-top: -20px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(214, 212, 209);
    width: 98%;
    height: 170px;
    opacity: 1;
    font-family: "Raleway", serif;
    font-size: 20px;
    border: 4px solid  rgb(226, 171, 51);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
}

@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.vision {
        display: grid;
        align-self: center;
        width: 95%;
        
    }
 }
 @media only screen and (max-width: 375px) and (max-width: 425px) {
    .vision {
     height: 250px;
     }
  }

.ourteam {
    background-color: #41462d;
    color: rgb(214, 212, 209);
    opacity: 1;
    font-family: "Raleway", serif;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: 4px solid  rgb(226, 171, 51);
    height: 100px;
    width: 50%;
    align-items: center;
    display: grid;
    align-self: center;
    margin-left: 75%;
    margin-top: 120px;
}


@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.ourteam{
        display: grid;
        align-self: center;
        width: 95%;
        margin-left: 0%;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
 }
 @media only screen and (max-width: 375px) and (max-width: 425px) {
    .ourteam {
     height: 100px;
     }
  }


.pic {
    text-align: center;
}

.Margit {
    margin-top: -30px;
    margin-bottom: 0px;
    z-index: 1;
}

.Virgo {
    margin-top: -100px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 375px) and (max-width: 425px) {
    .Virgo, .Margit {
        display: none;
    }
}

.employees {
        text-align: center;
        margin-top: -330px;
        border-radius: 20px;
        font-size: 20px;
        font-family: "Raleway", serif;
        color: #41462d;;
}
.personal-container {
display: inline-flex;
max-width: 1200px;
height: auto;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.personal-container {
        
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    
}

}
.picname {
    border-radius: 20px;
    border: 4px solid  rgb(226, 171, 51);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.missionvision {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 10px;
}
@media only screen and (max-width: 375px) and (max-width: 425px) {
.missionvision {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-width: 310px;
    max-width: 417px;
    margin: 0%;
}
}

.foot {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background-color: #41462d;;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin-top: 30px;
    height: 70px;   
}

@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.foot {
        display: flex ;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 375px) and (max-width: 425px) {
    h3.thebest {
        width: fit-content;
    }
}

.thebest {
    font-family: "Satisfy", serif;
    font-size: 25px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin-top: 0%;
    margin-bottom: 0%;
    border-color: aliceblue;
    text-align: center;
    justify-content: center;
    width: 700px;
}

.products {
    background-color: #41462d;
    color: rgb(214, 212, 209);
    opacity: 1;
    font-family: "Raleway", serif;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: 4px solid  rgb(226, 171, 51);
    height: 100px;
   
    align-items: center;
    display: grid;
    margin-left: auto;
    margin-top: 120px;
}

.whatwedo-container {
display: inline-flex;

max-width: 1300px;
height: auto;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
margin-top: 40px;
margin-left: 3%;
}

@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.products {
        display: grid;
        align-self: center;
        width: 57%;
        margin-left: -5%;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
}
@media only screen and (max-width: 375px) and (max-width: 425px) {
    .products {
        height: 150px;
    }
}

.dismantled, .agregates, .vehicles {
    border-radius: 20px;
    border: 4px solid  rgb(226, 171, 51);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: grid;
    align-self: center;
    width: 330px;
   
}

.product-text {
    background-color: #41462d;
    color: rgb(214, 212, 209);
    opacity: 1;
    font-family: "Raleway", serif;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    border: 4px solid  rgb(226, 171, 51);
    height: 50px;
    width: 325px;
    display: grid;
    align-self: center;
    margin-top: -20px;
    text-decoration: underline;
    padding-top: 6%;
    
}

.whatwedo-container img{
    border-radius: 20px;
    width: 330px;
}

@media only screen and (max-width: 375px) and (max-width: 425px) {
    div.whatwedo-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        min-width: 310px;
        max-width: 417px;
        
    }
}